body{
    color: black;
}

body p{
    color: black;
}

.heading-section {
    margin-bottom: 2em;
}

.sf-menu li:hover a, .sf-menu li.sfHover a, .sf-menu ul li:hover a, .sf-menu ul li.sfHover a, .sf-menu li.active a {
    color: #FFAA19!important;
}

.sf-menu li.active a:hover, .sf-menu li.active a:focus {
    color: #FFAA19!important;
}

.sf-menu a:hover, .sf-menu a:focus {
    color: #FFAA19 !important;
}


.heading-section h3 {
    font-size: 40px;
    font-weight: 400;
    position: relative;
    color: #FFAA19;
    text-align: center;
}

.btn.btn-primary {
    background: #FFAA19;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}

#fh5co-testimonial .box-testimony blockquote .quote {
    position: absolute;
    top: 0;
    left: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 0;
    display: table;
    color: #fff;
    width: 56px;
    height: 56px;
    margin-top: -30px;
    background: #FFAA19;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#footer #fh5co-header-subscribe button {
    position: absolute;
    top: 0;
    right: 10px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background: #FFAA19;
    border: none;
}

a:hover {
    text-decoration: none;
    color: #848484;
}

.divfoot{
    margin-bottom: 40px;
}

.divrow{
    padding-bottom: 10px;
}

/*.form-control{*/
/*    color:white;*/
/*}*/

#offcanvas-menu ul li.active > a {
    color: #FFAA19;
}

#offcanvas-menu ul li a:hover {
    color: #FFAA19;
}

#logoheader{
    height: 65px;
    margin-top: 10px;
}

.panel-title{
    font-weight: bold;
}

.panel-heading{
    padding: 16px 10px;
    background-color: white!important;
}

.panel-body{
    color: black;
}

@media(max-width:767px){
    
    #logoheader{
        height: 50px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .fh5co-nav-toggle {
        display: block;
        top: 0px;
        margin-top: 1em;
    }        
    
    .heading-section{
        padding-top: 2rem;
    }
}

.sicon{
    float:right;
    margin-right: 10px;
}

::selection {
    background: #FFAA19;
}


.cctv-productos .fh5co-property{
    height: 300px;
}

.property-details p{
    color: black;
    max-height:70px;
}

.products img{
    margin: auto;
}

.products .fh5co-property {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;    
}

.products h3{
    font-weight: bold;
    color: #FFAA19;
    font-size: 3rem
}

.products h4{
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    font-size: 2rem;
}

.products img{
    margin-top: 10px;
    margin-bottom: 5rem;
}

.products li{
    color: black;
}

.fh5co-property{
    -webkit-box-shadow: inset 0px -96px 115px -23px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px -96px 115px -23px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px -96px 115px -23px rgba(0, 0, 0, 0.4)
}

.product-video{
    margin-top: 30px;
    margin-bottom: 30px;
}


#fh5co-properties {
    padding: 6em 0;
}

#fh5co-contact .heading-section {
    margin-bottom: 0rem;
}

#fh5co-contact .contact-info li a {
    color: black;
}

#fh5co-contact .contact-info li {
    color: black;
}

.nosotros{
    text-align: justify;
}

#fh5co-header-section {
    padding: 0;
    padding-bottom: 15px;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1022;
    background: #fff;
}

